/* Zerar margin e padding da página */
* {
  margin: 0px;
  padding: 0px;
}

/* Estilo fundo do site */
.fundo-site {
  background-image: url("../../public/img/fundo4.webp");
  height: 100%;
  width: 100%;
}

/* Estilos da barra de navegação */
.top {
  background: #a9bfb0;
  align-items: center;
}

.imagem-logo {
  margin-left: 10px;
  margin-bottom: 25px;
}
#responsive-navbar-nav {
  justify-content: end;
}
.text-color {
  background: black;
  box-shadow: 3px 3px 3px green;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 2s;
  font-size: 1.7rem;
}

.text-color:hover {
  background-color: blue;
}

/* Estilos gif de logo hotel circular */
.circular {
  border: 1px solid black;
  margin: left 5px;
  margin-right: 0px;
}
.circle {
  text-align: center;
  padding: 2px;
  background-color: #a9bfb0;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
}

/* Estilos dos títulos das sessões */
.titulos {
  font-size: 2rem;
  color: green;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

/* Estilos da página de Acomodações */
.fundo-album{
  background: #908684;
  padding:20px;
}

.album {
  padding-bottom:20px;
  margin-bottom:10px;
}
.photo-album {
  border: 2px solid white;
  box-shadow: 3px 3px 3px white;
}

/* Estilos descrição da página sobre */
.description {
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  padding: 5px;
}

/* Estilo do slide de espaços sociais */
.espaco-social{
  background: #D3BCB7;
  padding-top: 20px;
  padding-bottom: 20px;
}
.slide-social {
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
}

/* Estilo da imagem página home */
.card-image {
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
}

.icones {
  padding: 10px;
  font-size: 2rem;
  margin-top: 0px;
}
.marketing {
  background: #D3BCB7;
  text-align: center;
  margin-top: 45px;
  padding: 10px;
}

/* Estilos do rodapé da página */
.footer {
  width: 100%;
  height: 100px;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 0px;
  background-color: #a9bfb0;
  position: relative;
}

.footer__social {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;

}
a + a {
  margin-left: 8px;
}

.footer__copyright {
  position: absolute;
  bottom: 0px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
  color: white;
}

/* Estilos icones de locais da  página home */
.featurette {
  text-align: justify;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos do mapa de localização */
.map {
  width: 100%;
  height: 400px;
}
.map-marker {
  width: 200px;
  height: auto;
  margin-top: -60px;
  padding: 20px;
  color: blue;
  font-size: 2rem;
}

/* estilos pagina de contatos */
.contact {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.icones-contato {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}
.title-icones {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.icons-contact {
  font-size: 3.5rem;
}
.telefone {
  background: #2962ff;
  padding:2px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
}
a[href^="”tel”"]:before {
  content: “\260e”;
  margin-right: 0.5em;
}

.whatsapp {
  width: 80px;
  height: 80px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
}
.whatsapp-link {
  position: fixed;
  margin: 15px;
  margin-top: 80px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  z-index: 5000;
  bottom: 20px;
  right: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
}
.facebook {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  padding: 2px;
}
.instagram {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  padding: 2px;
}

/* Estilo responsivos dos icones de contatos */
@media (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact .icones-contato:nth-child(2) {
    margin: 15px 0;
  }
}
